{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="forgot-password-background">
        <div class="forgot-password-container">
            {{ form_start(emailToResetPassword, {'attr': {'data-aos': 'fade-up'}}) }}
                <h1 class="text-center">Mot de passe oublié</h1>
                <hr>
                <div class="form-group">{{ form_row(emailToResetPassword.email) }}</div> 
                <button class="btn btn-lg btn-primary" type="submit">Valider</button>
            {{ form_end(emailToResetPassword) }}
        </div>
    </div>
{% endblock %}
