{% extends 'base.html.twig' %}

{% block title %}Gestion des Annonces - Proxi'Car{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{{ path('user_panel') }}" class="fas fa-angle-left retour"> Retour</a>
            <h1>{{ controller_name }}</h1>  

        </div>
    </div>
</div>
{% endblock %}