{% extends 'base.html.twig' %}

{% block title %}Annonces - Proxi'Car{% endblock %}

{% block body %}

<div class="container">
    <h1>Les Annonces Proxi'Car</h1>

    {% for annonce in annonces %}
        <p> Mise en ligne le {{ annonce.anndate|date }} </p> 
        <p> Par {{ annonce.users.pseudo }} </p>
        <p> {{ annonce.anntitre }} </p>
        <p> {{ annonce.anncontenu|raw }} </p>
    {% endfor %}
</div>

{% endblock %}
