{% extends 'base.html.twig' %}

{% block title %}Modification du rôle de l'utilisateur{% endblock %}

{% block body %}
    <div class="container modif-role-container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('gestion_users') }}" class="fas fa-angle-left retour"> Retour</a>
                <h1 class="text-center">Modification du rôle de l'utilisateur</h1>
                <hr>
                {{ form_start(changeRoleUserForm) }}
                    <div class="form-group mt-4">{{ form_row(changeRoleUserForm.roles) }}</div> 
                    <button class="btn btn-lg btn-primary mt-4" type="submit">Enregistrer les modifications</button>
                {{ form_end(changeRoleUserForm) }}
            </div>
        </div>
    </div>
{% endblock %}
