<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
       
        body 
        {
            background-color: #333;
        }

        .container 
        {
            background-color: #E1E1E1;
            font-family: serif;
            margin-top: 1%;
            margin-left: 8%;
            margin-right: 8%;
        }

        .header
        {
            background-color: #333;
            color: #E1E1E1;
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 1%;
        }

        #message 
        {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 3%;
            padding-right: 3%;
        }

        h1 
        {
            display: block;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 100%;
        }

        p 
        {
            display: block;
            font-size: 23px;
            font-style: normal;
            font-weight: normal;
            line-height: 100%;
            margin-top: -1%;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">Proxi'Car</div>
            <div id="message">
                <h1>Votre annonce chez Proxi'Car</h1>
                <p>Bonjour {{ name }}, votre annonce "{{ annTitre }}" a été désactivée automatiquement au bout de 30 jours.</p>
                <p>Elle n'est plus affichée sur notre site. Si votre véhicule est toujours à vendre, vous pouvez renouveler votre annonce sur votre <a href="{{ absolute_url(path('gestion_annonces')) }}"> panneau de gestion des annonces</a>. Vous pouvez également la supprimer définitivement de votre espace.</p>
                <p>Egalement, nous tenons à vous rappeler que notre système supprime automatiquement les annonces supérieures à 60 jours, sauf si vous renouveler votre annonce.</p>
                <p>Notre équipe se tient à votre disposition par email si besoin et vous répond dans les meilleurs délais.</p>
                <p>Cordialement</p> 
                <p>L'équipe Proxi'Car</p>     
            </div>
        </div>     
    </body>
</html>