<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            .container-background
            {
                background-color: #333;
                padding-bottom: 6%;
            }

            .container 
            {
                background-color: #E1E1E1;
                font-family: serif;
                margin-top: 1%;
                margin-left: 8%;
                margin-right: 8%;
            }

            .header
            {
                background-color: #333;
                color: #E1E1E1;
                font-size: 38px;
                font-weight: bold;
                text-align: center;
                padding-bottom: 1%;
                padding-top:1%;
            }

            #message 
            {
                padding-top: 1%;
                padding-bottom: 1%;
                padding-left: 3%;
                padding-right: 3%;
            }

            h1 
            {
                display: block;
                font-size: 26px;
                font-style: normal;
                font-weight: bold;
                line-height: 100%;
            }

            p 
            {
                display: block;
                font-size: 23px;
                font-style: normal;
                font-weight: normal;
                line-height: 100%;
            }

            #date-consent
            {
                display: block;
                font-size: 18px;
                font-style: italic;
                font-weight: normal;
                line-height: 100%; 
            }
        </style>
    </head>
    <body>
        <div class="container-background">
            <div class="container">
                <div class="header">
                    <img class="logo" src="https://florentvila.com/images/logo-mini-proxicar.jpg">
                </div>
                <div id="message">
                    <h1>Message de {{ name }} : {{ email }}</h1>
                    <p>{{ message|raw }}</p>
                    <p id="date-consent">Consentement RGPD collecté le {{ date }}.</p>
                </div> 
            </div>
        </div>
    </body>
</html>