<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Bienvenue chez Proxi'Car</h1>
                    <p>Bonjour {{ name }}, votre inscription est bien enregistrée dans notre base de donnée avec votre adresse email :</br> {{ email }}.</p>
                    <p>Vous pouvez désormais vous connecter à votre espace client afin de gérer la publication de vos annonces.</p>
                    <p>Notre équipe se tient à votre disposition par email si besoin et vous répond dans les meilleurs délais.</br> Cordialement.</p>
                    <p>L'équipe Proxi'Car</p>
                </div>
            </div>
        </div>     
    </body>
</html>