<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
       
        body 
        {
            background-color: #333;
        }

        .container 
        {
            background-color: #E1E1E1;
            font-family: serif;
            margin-top: 1%;
            margin-left: 8%;
            margin-right: 8%;
        }

        .header 
        {
            background-color: #333;
            color: #E1E1E1;
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 1%;
        }

        #message 
        {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 3%;
            padding-right: 3%;
        }

        h1 
        {
            display: block;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 100%;
        }

        p 
        {
            display: block;
            font-size: 23px;
            font-style: normal;
            font-weight: normal;
            line-height: 100%;
        }

        a 
        {
            color: #fff;
            background-color: #008cba;
            border-color: #0079a1;
            font-size: 22px;
            font-style: normal;
            font-weight: normal;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-radius: 10px;
        }

        a:hover 
        {
            color: #E0E0E0;
            background-color: #006f94;
            border-color: #006687;
        }

        a:link 
        {
            text-decoration:none;
        } 
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">Proxi'Car</div>
            <div id="message">
                <h1>Réinitialisation du Mots de passe</h1>
                <p>Bonjour {{ name }}, </br> Veuillez trouver ci-joint le lien cliquable afin de saisir votre nouveau mots de passe.</p>
                <a href="{{ absolute_url(path('resetting', {'id': id, 'token': token})) }}">Changer le mot de passe</a> 
            </div> 
        </div>
    </body>
</html>