<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
       
        body 
        {
            background-color: #333;
        }

        .container 
        {
            background-color: #E1E1E1;
            font-family: serif;
            margin-top: 1%;
            margin-left: 8%;
            margin-right: 8%;
        }

        .header
        {
            background-color: #333;
            color: #E1E1E1;
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 1%;
        }

        #message 
        {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 3%;
            padding-right: 3%;
        }

        h1 
        {
            display: block;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 100%;
        }

        p 
        {
            display: block;
            font-size: 23px;
            font-style: normal;
            font-weight: normal;
            line-height: 100%;
            margin-top: 2%;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">Proxi'Car</div>
            <div id="message">
                <p>Bonjour {{ name }},</p> 
                <p>Nous vous informons que votre annonce "{{ anntitre }}" a été validée par l'administrateur de notre site.</p>
                <p>Nous tenons à vous informer que notre système désactive automatiquement les annonces au bout de 1 mois et les supprime au bout de 2 mois si celles-ci ne sont pas réactivées par l'utilisateur.</p> 
                <p>En ce qui concerne la désactivation automatique de l'annonce, vous recevrez un message électronique de notre part vous indiquant la procédure pour réactiver votre annonce.</p> 
                <p>Nous mettons à votre disposition un panneau de gestion sur votre compte pour gérer au mieux vos annonces publiées.</p> 
                <p>Sachez également que nous intégrons, sur l'article de l'annonce, un bouton permettant aux visiteurs de signaler un abus potentiel. Lorsque celui-ci est cliqué, l'annonce est provisoirement retirée du site jusqu'à ce que notre administrateur approuve l'annonce et il peut aussi la supprimer. Si tel est le cas, vous serez notifié de sa suppression.</p>
                <p>Notre équipe se tient à votre disposition par email pour répondre à vos questions dans les meilleurs délais.</p>
                <p>Cordialement</p> 
                <p>L'équipe Proxi'Car</p>     
            </div>
        </div>     
    </body>
</html>